WebAppPage/Service References/Page_WCF/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PageWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PageWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InQuerykisokBuy">
    <xs:sequence>
      <xs:element minOccurs="0" name="kisokBuyNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nextpage" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="row" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InQuerykisokBuy" nillable="true" type="tns:InQuerykisokBuy" />
  <xs:complexType name="QuerykisokBuy">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReturnResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
          <xs:element minOccurs="0" name="kisokDataQueryList" nillable="true" type="tns:ArrayOfkisokDataQuery" />
          <xs:element minOccurs="0" name="nowpage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuerykisokBuy" nillable="true" type="tns:QuerykisokBuy" />
  <xs:complexType name="ReturnResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogSn" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMsgNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnResult" nillable="true" type="tns:ReturnResult" />
  <xs:complexType name="ArrayOfkisokDataQuery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kisokDataQuery" nillable="true" type="tns:kisokDataQuery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfkisokDataQuery" nillable="true" type="tns:ArrayOfkisokDataQuery" />
  <xs:complexType name="kisokDataQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyPhoneNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="kisokDataQuery" nillable="true" type="tns:kisokDataQuery" />
</xs:schema>